// COLORS
$color-primary: #001c3dff;
//SHADES
$color-primary-dark-1: #000b14;
$color-primary-dark-2: #081221;
//ACCENTS
$color-accent-1: #002e52;
$color-accent-2: #4747ff;
//GREYS
$color-grey-1: #8e9eff;
$color-grey-2: #bbc5ff;
$color-grey-3: #e8ecff;
$color-grey-4: #f8f9ff;
$color-grey-5: #4d6d86;
$color-grey-6: #2e4150;
